.bodybg{
    -fx-background-image: url("../img/fondo.png");
    -fx-background-size: 100% 100%;
}

.bodyHome{
    -fx-background-image: url("../img/fondoHome.png");
}

.hidden {
    -fx-opacity: 0;
}

.textField {
    -fx-background-color: F4A261;
}

.button {
    -fx-skin: 'your.package.name.MyButtonSkin';
}